[Desktop Entry]
Categories=Network;
Encoding=UTF-8
Exec=/opt/apps/org.mozilla.firefox/firefox
Icon=/opt/apps/org.mozilla.firefox/browser/chrome/icons/default/default128.png
Name=Firefox Browser
Name[zh_CN]=Firefox 浏览器
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;application/x-mimearchive;x-scheme-handler/http;x-scheme-handler/https
Comment=No shady privacy policies or back doors for advertisers. Just a lightning fast browser that doesn’t sell you out.
Comment[zh_CN]=没有晦涩难懂的隐私保护政策，更不向广告商预留后门，纯粹是一款闪电般快、不会出卖您的浏览器。

Terminal=false
StartupNotify=true